
@mixin trans($sec) {
	-webkit-transition: all $sec ease;
  -moz-transition: all $sec ease;
  -o-transition: all $sec ease;
  transition: all $sec ease;
}


@mixin btnDesign($color, $radius, $hover-color) {
	  border: 1px solid $color;
	  color: $color;
	  text-transform: uppercase;
	  font: 700 14px 'Open Sans', sans-serif;
	  background: transparent;
	  border-radius: $radius;
	  text-decoration: none;
	  @include trans(0.5s);

	  &:hover {
			color: $hover-color;
			border-color:  $hover-color;
	  }
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		color: #f62e9f;
	}
}

.confirm-payment {
	button {
		@include btnDesign(#f62e9f, 3px, #b01c70);
	}
}

span.text-label {
	color: #bfbfbf;
	text-transform: uppercase;
	font: 400 12px 'Open Sans', sans-serif;
}

span.text-indicator {
	color: red;
	text-transform: uppercase;
	font: 400 12px 'Open Sans', sans-serif;
}

form {
	input[type="submit"] {
		color: #fff;
		font: 700 12px 'Open Sans', sans-serif;
		text-transform: uppercase;
	}
}

.loading {
	background: #fff;
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999999;

	div.rotator {
		height: 100px;
		width: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -25px;
		margin-top: -25px;

		i {
			font-size: 30px;
			-webkit-animation:spin 2s linear infinite;
			-moz-animation:spin 2s linear infinite;
			animation:spin 2s linear infinite;
		}
	}
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#search_modal {
	.content {
		background-color: transparent;

		button {
			@include btnDesign(#fff, 3px, #5793e8);
			padding: 8px;
		}
	}
}

.title {
	font: 700 14px 'Open Sans', sans-serif;
	color: #000;
	text-transform: uppercase;
}

.main-content {
	padding-top: 90px;
	@include respond("max-width: 881px") {
		padding-top: 30px !important;
	}
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

nav {
	background: #1e1e20;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	width: 100%;
	z-index: 9999;

	a {
		color: inherit;

		&:hover {
			color: #f62e9f;
		}
	}

	@include respond("max-width: 881px") {
		position: static !important;
		padding: 5px !important;
	}

	.mobile-bar {
		@include hidden(desktop);
		@include hidden(all-tablets);
		@include visible(all-phones);

		@include respond("max-width: 881px") {
			@include visible(desktop);
			@include visible(all-tablets);
		}

		ul.mobile-nav {
			 li.tiles {
				@include fancytiles(2,2,2);

				span {
					padding: 0 10px;
					font: 700 14px 'Open Sans', san-serif;
					color: #fff;

					&:first-child {
						margin-top: -5px;
					}
				}

				i.fa-bars {
					color: #fff;
					font-size: 24px;
					padding-top: 10px;
				}

				i.fa-shopping-bag {
					font-size: 18px !important;
					padding-top: 5px;
					color: #fff;
				}

				&:last-child {
					text-align: right;
				}
			 }
		}

		.menu-toggle {
			display: none;

			ul.menu-toggle-content li {
				text-align: center;
				color: #ffffff;
				font: 700 14px 'Open Sans', san-serif;
				text-transform: uppercase;
			}
		}
	}

	.main-bar {
		@include hidden(all-phones);

		@include respond("max-width: 881px") {
			@include hidden(desktop);
			@include hidden(all-tablets);
		}
	}


	ul.main-menu {
		padding-top: 5px;

		li {
			color: #ffffff;
			font: 700 14px 'Open Sans', san-serif;
			padding: 10px;
			display: inline;
			text-transform: uppercase;
		}
	}
	ul.side-menu {
		padding-top: 5px;

		li {
			padding: 10px;
			display: inline;
			color: #fff;

			.bag-notify,
			.user-name {
				display: inline;
				color: #fff;
				text-transform: uppercase;
				font: 700 12px 'Open Sans', sans-serif;
			}
		}
	}
}

div.feedback {
	margin-bottom: 30px;
	height: 150px;

	.feedback-holder {
		background: #000;
		padding-top: 10px;
		border-radius: 5px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		img {
			border-radius: 50%;
			border: 6px solid #1a2c46;
		}

		.content {
			background: #1a2c46;
			width: 100%;
			height: 100%;
			border-radius: 3px;
			color: #fff;
			font: 700 14px 'Open Sans', sans-serif;
			padding: 25px 5px 10px 5px;
			margin-top: -25px;
		}
	}
}

div.banner-slider-holder {
	width: 100%;
	overflow: hidden;
	background: #000;
	border-radius: 12px;
	position: relative;
	margin-bottom: 30px;



	div.control {
		div {
			position: absolute;
			top: 50%;
			text-align: center;
			width: 40px;
			height: 40px;
			padding: 8px 10px 10px 12px;
			background: rgba(0,0,0,0.5);
			border-radius: 50%;
			font-size: 20px;
			color: #fff;
		}

		.right {
			right: 10px;
		}

		.left {
			left: 10px;
		}
	}

	ul.slide-wrapper {
		height: 290px;

		li {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

			  div {
					position: absolute;
					right: 50px;
					top: 50px;
					width: 40%;
					color: #fff;

				  	@include hidden(all-phones);

					.banner-title {
						  font: 700 16px 'Open Sans', sans-serif;
						  text-transform: uppercase;
						  color: #fff;
					}

					p {
						  font-size: 14px;
						  line-height: 105%;
					}
			  }
		}

		li:nth-child(1) {
			  display: block;
		}

		li:nth-child(n+2) {
			  display: none;
		}
	}
}

.filter-holder {
	width: 100%;
	background: #1e1e20;
	color: #fff;
	padding: 10px;
	font: 700 14px 'Open Sans', sans-serif;

	ul.items-control li {
		@include fancytiles(2,2,2);
	}

	button {
		@include btnDesign(#fff, 3px, #5793e8);
		float: right;
		margin-right: 10px;
	}
}

.row {
	@include respond("max-width: 881px") {
		padding-left: 10px;
		padding-right: 10px;
	}
}

input[type='checkbox'] {
	  width: 16px;
	  height: 16px;
	  display: inline !important;
	  -webkit-appearance: checkbox;
  }

.product-holder li.product {
	@include fancytiles(5,4,2);
	padding: 5px;

	div.content {
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
		min-height: 270px;
		background: #fff;

		.product-img {
			max-height: 190px;
			min-height: 190px;
			overflow: hidden;
			width: 100%;
			margin-bottom: -15px;

			img {
				width: 100%;
			}
		}

		div.product-details {

			span:nth-child(1) {
				display: block;
			}

			span:nth-child(n+2) {
				display: inline-block;
			}

			.product-title {
				font: 400 12px 'Open Sans', sans-serif;
				color: #000;
			}


			div.rotate-content {
				height: 30px;
				overflow: hidden;

				ul.content-rotate {
					margin-left: 0px;
					li {
						width: 100%;
						text-align: center;

						.product-price {
							font: 400 12px 'Open Sans', sans-serif;
							color: #434343;
							display: inline;
						}


						.product-price.sale {
							color: #09c42c !important;
						}

						.product-price.old {
							color: #434343 !important;
							text-decoration: line-through;
						}

						button {
							@include btnDesign(#f62e9f, 3px, #b01c70);
						}
					}
				}
			}

		}
	}
}

.cart-holder {
	.error-icon {
		font-size: 90px;
	}

	p {
		margin-top: 20px;
	}

	button {
		@include btnDesign(#f62e9f, 3px, #b01c70);
	}

	table {
		border: none;

		tr:first-child td {
			border: none;
		}

		td {
			font-weight: 400 !important;
			font: 400 14px 'Open Sans', sans-serif;
		}

		tr.total-holder td {
			font-weight: 700 !important;
			font: 700 20px 'Open Sans', sans-serif;
		}
	}
}

#login_modal {
	.content {
		margin-top: -10%;
	}

	.login-divide {
		@include hidden(all-phones);
		@include visible(desktop);
		@include visible(all-tablets);
	}
}

.address-holder {
	button {
		@include btnDesign(#f62e9f, 3px, #b01c70);
	}
}


.feedback-page-holder {
	li {
		@include fancytiles(3,3,2);

		img {
			border-radius: 50%;
		}
	}
}

footer {
	background: #e2e2e2;
	width: 100%;
	left: 0;
	bottom: 0px;
	color: #000000;
	padding: 30px 0px;
	margin-top: 50px;

	.footer-content li.tiles {
		@include fancytiles(4,4,2);

		h6 {
			font: 700 14px 'Open Sans', sans-serif;
			color: #000000;
			text-transform: uppercase;
		}

		div.sub-content {
			font: 400 12px 'Open Sans', sans-serif;
			padding-left: 15px;

			ul {
				text-transform: uppercase;
				margin-left: 0px;
			}

			i.social {
				padding: 10px;
				font-size: 24px;
			}

			i {
				padding: 2px;
				font-size: 16px;
			}

			table {
				background: transparent !important;
				border: none;

				tr {
					background: transparent !important;
					border: none;

					td {
						background: transparent !important;
						border: none;
						font: 400 12px 'Open Sans', sans-serif;
					}
				}
			}
		}

		form {
			input[type] {
				font: 400 12px 'Open Sans', sans-serif;
				text-transform: uppercase;
			}

			input[type="submit"] {
				color: #fff;
				background: #000;
			}

			input[type] {
				@include respond("max-width: 928px") {
					width: 100% !important;
				}
			}

			input[type="submit"]{
				@include respond("max-width: 928px") {
					margin-top: 4px;
					margin-left: 0 !important;
				}
			}
		}

	}
}

/* Additionals */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/*  Mobile Adjustments  */
